
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (ViewBag.displayMenu == "Yes")
{
    <h1>Bienvenido Admin. Pronto podrás disfrutar completamente de tu panel!</h1>
    <br />
    <h3>
        <li>@Html.ActionLink("Administrar Roles", "Index", "Role")</li>
        <li>@Html.ActionLink("Administrar Países", "Index", "Countries")</li>
        <li>@Html.ActionLink("Administrar Centros de estudio", "Index", "StudyCenters")</li>
        <li>@Html.ActionLink("Administrar Programas de intercambio", "Index", "Programs")</li>
        <li>@Html.ActionLink("Administrar Cursos", "Index", "Courses")</li>
        <li>@Html.ActionLink("Administrar Notas", "Index", "Notes")</li>
        <li>@Html.ActionLink("Administrar Periodos de programas", "Index", "Periods")</li>
        <li>@Html.ActionLink("Administrar Estados de programas", "Index", "ProgramStatus")</li>
        <li>@Html.ActionLink("Ver información de familias", "Index", "FamilyInfoes")</li>
    </h3>
}
@if (ViewBag.displayCelAdminMenu == "Yes")
{
    <h2>  Bienvenido <strong>@ViewBag.Name</strong> :) . Pronto podrás disfrutar de tu modulo de perfil </h2>
    <br />
    <h3>
        <li>@Html.ActionLink("Registrar un centro de estudio", "Create", "StudyCenters")</li>
    </h3>
}
@if (ViewBag.displayStudentMenu == "Yes")
{
    <h1>Bienvenido tu rol es Student</h1>
    <h3>
        <li>@Html.ActionLink("Postular a programa de intercambio", "Create", "StudyCenters")</li>
    </h3>
}
@if (ViewBag.displayFamilyMenu == "Yes")
{
    <h1>Bienvenido tu rol es Family</h1>
}
@if (ViewBag.displayInternationalRelationsMenu == "Yes")
{
    <h1>Bienvenido tu rol es international relations</h1>
    <h3>
        <li>@Html.ActionLink("Administrar Programas de intercambio", "Index", "Programs")</li>
    </h3>
}
@*else
{
    <h2>  Bienvenido <strong>@ViewBag.Name</strong> :) . Pronto podrás disfrutar de tu modulo de perfil </h2>
    <h1>Bienvenido tu rol es international relations</h1>
    <h3>
        <li>@Html.ActionLink("Administrar Programas de intercambio", "Index", "Programs")</li>
    </h3>
}*@  