@model Portafolio.Models.FamilyInfo

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>FamilyInfo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CriminalRecord)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CriminalRecord)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Residence)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Residence)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Work)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Work)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Photo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Photo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.FamilyInfoId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
